<h1>Books</h1>

<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>
  
<span>
  <%= link_to "Show",book_path(book.id) %>
</span>

<a href="/books">edit</a>
<a href="/books">destroy</a>

<% end %>

<h2>New book</h2>
